.timer{
    width: 200px;
    height: 100px;
    border: solid 1px;
    font-weight: bold;
    text-align: center;
}

.main{
    margin: auto;
    width: 40%;
    min-width: 200px;
    min-height: 100%;
    height: auto;
    border: solid 1px;
    text-align: center;
}

.button{
    margin: 10px;
    font-size: 20px;
}

.opening_voiting{
    text-align: center;
}

.enter{
    text-align: center;
}

.field{
    margin: 10px;
    font-size: 25px;
    width: 90%;
}

.f2{
    width: 50px;
}

footer{
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    bottom: 0;
}

.event_options{
    width: 90%;
    margin: 0;
}

.timer{
    display: inline-block;
    width: auto;
    border: none;
    height: auto;
    font-size: 20px;
}
